.body {
    display: flex;
    justify-content: space-between;
}
.leftbar {
    width: 17%;
    position: fixed;
   
}

.rightbar {
  width: 15%;
  position: fixed;
  right: 0;
 
}

.main {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;

}
.footer {
    background-color: var(--black);
    color: white;
    z-index: 100000;
}

/* 59ff4d 
003109 */
.btn1 {
    padding: .5rem .7rem;
    margin-left: 10px;
    border-radius: 6px;
    border: 0;
    font-size: 1rem;
}

@media only screen and (max-width: 1000px) {
    .leftbar {
        display: none;
        
    }
    .rightbar {
        right: 10%;
    }
    .main {
        width: 60%;
        left: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .leftbar {
        display: none;
        position: initial;
    }
    .btn1 {
        font-size: .8rem;
    }
    .main {
        position: initial;
        width: 90%;
        margin: 2rem auto;
    }
    .rightbar{
        position: initial;
        display: none;
    }
}

